:root {
  --font-base: 'Clash Grotesk', sans-serif;
  --color-base: #ffffff;
  --background-base: #000000;
  --link-color: #bbbbbb;
  --link-hover-color: #ffffff;
  --link-border-color: transparent;

  font-family: 'Clash Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color-scheme: light dark;
  color: var(--color-base);
  background-color: var(--background-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-border-color);
  transition: color 0.25s, border-bottom-color 0.25s;
}

a:hover, a:focus {
  color: var(--link-hover-color);
  border-bottom-color: currentColor;
}