.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
}

.items,
.user-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.items li,
.user-items li {
    margin: 0 15px;
}

.items li a,
.user-items li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.searchbar-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.user-items {
    margin-left: auto; 
}

.searchbar-container input {
    width: 100%; 
    max-width: 300px; 
}

a:hover {
    color: #bbbbbb; 
}


@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .searchbar-container {
        order: 2; 
        width: 100%;
        margin: 10px 0;
    }

    .items {
        order: 1;
        width: 100%;
        justify-content: space-evenly;
    }

    .user-items {
        order: 3;
        width: 100%;
        justify-content: flex-end;
    }
}